{% extends 'app/dummy.html' %}


{% block title %}
<title>Home</title>
{% endblock %}



{% block body_block %}
<center>
    <h1>Detail information of {{schoolobject}}</h1>
    <h2>Name of the School is {{schoolobject.sname}}</h2>
    
    <h2>principal of the School is {{schoolobject.sprincipal}}</h2>
    <h2>Sclocation of the School is {{schoolobject.sloc}}</h2>

<h1>Student Details are</h1>

{% for sto in schoolobject.students.all %}
        <h3>name of student is {{sto.stname}}</h3>
        
        <h3>age of student is {{sto.stage}}</h3>
{% endfor %}



<a href="{% url 'SchoolUpdate' pk=schoolobject.pk %}" class="btn btn-danger">SchoolUpdate</a>
<a href="{% url 'SchoolDelete' pk=schoolobject.pk %}" class="btn btn-danger">SchoolDelete</a>

</center>

{% endblock %}








    